//- Файл библиотек
script(src="javascripts/libs.min.js")

//- Основной файл сценариев
script(src="javascripts/common.min.js")
script(src="javascripts/rest.js")
script(src="javascripts/sign.js")

script(src="scripts/firebase.js")
script(src="scripts/axios.min.js")
script(src="scripts/uikit.min.js")