doctype
html(lang="ru")
    head
        include assets/_metas.pug
        include assets/_links.pug
    body
        include assets/_header.pug
        section.breadcrumb
            section.contacts_block
                .uk-container
                    div.uk-grid(uk-grid='')
                        div(class='uk-width-expand@m uk-width-1-2@s')
                            p НАШИ КОНТАКТЫ
                        div(class='uk-width-auto@m uk-width-1-2@s')
                            ul.uk-breadcrumb
                                li
                                    a(href='../index.html') Главная
                                li
                                    span Контакты
        // MAP
        #map.full_width
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.7745796263466!2d74.57284741513529!3d42.83537527915779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9ebd50abdf1%3A0x14ce488dddb2fbdb!2zS8SxcmfEsXppc3Rhbi1Uw7xya2l5ZSBNYW5hcyDDnG5pdmVyc2l0ZXNp!5e0!3m2!1str!2skg!4v1520056062855" width="1349" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        .contact
            .uk-container
                .uk-margin-large-top.uk-margin-xlarge-bottom(class='uk-child-width-1-2@l uk-child-width-1-1@m uk-child-width-1-1@s uk-child-width-1-1',uk-grid='')
                    div
                        h3 ПИШИТЕ НАМ
                        // CONTACT FORM
                        .contact_form.top_form
                        #note
                        #fields
                            form#ajax-contact-form(action='')
                            input(type='text', name='name', value='', placeholder='Имя Фамилия*')
                            input(type='text', name='email', value='', placeholder='Email*')
                            input(type='text', name='subject', value='', placeholder='Тема*')
                            textarea(name='message', placeholder='Сообщение*')
                            br
                            a.uk-button.uk-button-default.contact__btn__clear(href='#') ОЧИСТИТЬ
                            a.uk-button.uk-button-default.contact__btn__send(href='#') ОТПРАВИТЬ!
                    
                    div.contact__right
                        h3 КОНТАКТЫ
                        p.contact__p 
                            |Мы будем рады ответить на все ваши вопросы,
                            br
                            |предложения или жалобы 
                        h3.contact__h3 СЛУЖБА ПОДДЕРЖКИ
                        p.contact__p 
                            |Телефон службы поддержки: 0(550) 555 555
                            br
                            |Поддержка пользователей работает с 9:00 до 21:00, 24/7     
                        // CONTACT INFO
                        h3.contact__h3 МЫ В СОЦИАЛЬНЫХ СЕТЯХ
                        ul.list4.contacts_info
                        li
                            a(href='', uk-icon='location')
                            span.contact__icon г. Бишкек, бульвар Эркиндик, 10 
                        li
                            a(href='', uk-icon='mail')
                            span.contact__icon office@trade.kg
                        li
                            a(href='', uk-icon='twitter')
                            span.contact__icon twitter.com/trade.kg
                        li
                            a(href='', uk-icon='facebook')
                            span.contact__icon facebook.com/trade.kg
                    
        include assets/_footer.pug
        include assets/_scripts.pug