doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
	body
		include assets/_header.pug
		section.banner
			div.uk-background-cover.uk-height-xlarge.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(class='uk-hidden@m', style="background-image: url(img/jpg/banner2.jpg);")
				.banner-text.uk-text-center
					h1.common-header TRADE  <br> сайт обмена услугами
					a.uk-box-shadow-hover-large(href="#create", uk-scroll) Создать задание <i class="zmdi zmdi-assignment-o"></i>
					a.uk-box-shadow-hover-large(href="#perform", uk-scroll) Стать исполнителем <i class="zmdi zmdi-assignment-account"></i>
			div.uk-position-relative.uk-visible-toggle.uk-light(uk-slideshow="autoplay: true, autoplay-interval: 3000", class='uk-visible@m')
				ul.uk-slideshow-items
					li
						.uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-center.uk-background-cover.uk-height-large-l.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(style = "background-image: url(img/jpg/banner.jpg); ")
							.banner-text.uk-text-center
								h1.common-header TRADE  <br> сайт обмена услугами
								a.uk-box-shadow-hover-large(href="#create", uk-scroll) Создать задание <i class="zmdi zmdi-assignment-o"></i>
								a.uk-box-shadow-hover-large(href="#perform", uk-scroll) Стать исполнителем <i class="zmdi zmdi-assignment-account"></i>
					li
						.uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-center.uk-background-cover.uk-height-large-l.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(style = "background-image: url(img/jpg/banner2.jpg); ")
							.banner-text.uk-text-center
								h1.common-header TRADE  <br> сайт обмена услугами
								a.uk-box-shadow-hover-large(href="") Создать задание <i class="zmdi zmdi-assignment-o"></i>
								a.uk-box-shadow-hover-large(href="") Стать исполнителем <i class="zmdi zmdi-assignment-account"></i>
					li
						.uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-center.uk-background-cover.uk-height-large-l.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(style = "background-image: url(img/jpg/banner3.jpg); ")
							.banner-text.uk-text-center
								h1.common-header TRADE  <br> сайт обмена услугами
								a.uk-box-shadow-hover-large(href="") Создать задание <i class="zmdi zmdi-assignment-o"></i>
								a.uk-box-shadow-hover-large(href="") Стать исполнителем <i class="zmdi zmdi-assignment-account"></i>
				a.uk-position-center-left.uk-position-small.uk-hidden-hover(href = "#", uk-slidenav-previous, uk-slideshow-item="previous")
				a.uk-position-center-right.uk-position-small.uk-hidden-hover(href = "#", uk-slidenav-next, uk-slideshow-item="next")
		section.categories.uk-margin-top(id="categories")
			.heading.uk-text-center.uk-margin-medium-bottom
				h2.com-header Категории услуг:
			.uk-container.uk-container-small.uk-margin-large-top
				.categories-list.uk-grid.uk-grid-small.uk-grid-match(uk-grid, class="uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-2")
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-female.zmdi-hc-2x
							p Красота
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-hospital.zmdi-hc-2x
							p Медицина
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-graduation-cap.zmdi-hc-2x
							p Образование
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-male-female.zmdi-hc-2x
							p Ремонт личных вещей
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-home.zmdi-hc-2x
							p Работы по дому
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-cake.zmdi-hc-2x
							p Организация мероприятий
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-balance.zmdi-hc-2x
							p Профессиональные услуги
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-bus.zmdi-hc-2x
							p Ремонт авто
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-flash.zmdi-hc-2x
							p Электроприборы
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-collection-image-o.zmdi-hc-2x
							p Фото, видео, аудио
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-run.zmdi-hc-2x
							p Спорт
					.categories-list-type
						a.uk-text-center.uk-box-shadow-hover-large(href="category.html")
							i.zmdi.zmdi-wrench.zmdi-hc-2x
							p Строительство и ремонт
		section.how-it-works.uk-margin-large-top
			.uk-container
				.heading.uk-text-center
					h2.com-header Как это работает?
					p.common-text -- Это работает очень просто !
				.uk-grid.uk-flex-middle.uk-margin-large-top(uk-grid, class= "uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s")
					.about
						.uk-grid(uk-grid, class="uk-child-width-1-1")
							.how-about.uk-grid.uk-grid-match.uk-margin-medium-bottom(uk-grid)
								.number(class="uk-width-auto@s uk-width-auto")
									span 1
								.text(class = "uk-width-expand@s uk-width-expand")
									b.common-text Создать задание
									span.common-text Вы размещаете задание на нашем сайте в разделе "Услуги".
							.how-about.uk-grid.uk-grid-match.uk-margin-medium-bottom(uk-grid)
								.number(class="uk-width-auto@s uk-width-auto")
									span 2
								.text(class = "uk-width-expand@s uk-width-expand")
									b.common-text Стать исполнителем
									span.common-text Вы находите подходящую вам услугу и предоставляете свою взамен.
							.how-about.uk-grid.uk-grid-match.uk-margin-medium-bottom(uk-grid)
								.number(class="uk-width-auto@s uk-width-auto", id="create")
									span 3
								.text(class = "uk-width-expand@s uk-width-expand")
									b.common-text Исполнить обмен
									span.common-text Вы связываетесь с исполнителем вашего задания и делитесь услугами друг друга.	
					video(controls, playsinline, uk-video="automute: true")
						source(src="video/how-it-works.mp4", type="video/mp4")
		section.barter.uk-margin-large-top
			.uk-container
				.uk-grid.uk-grid-match(class="uk-child-width-1-3@s")
					.star
						a(href="#create", uk-toggle)
							img(src="img/png/create.png", alt="")
							<br>
							span.common-text.uk-button-text Создать задание
						#create.uk-flex-top(uk-modal)
							.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
								button.uk-modal-close-default(type="button", uk-close)
								.uk-text-center
									h3 Заполните заявку
									form.uk-margin-top(action="")
										.uk-margin.uk-margin-bottom
											.uk-inline(class="uk-width-1-1")
												select.uk-select
													option(value="") Выберите категорию
													option(value="4") Медицина
													option(value="1") Образование
													option(value="3") Ремонт личных вещей     
													option(value="5") Работы по дому
													option(value="6") Организация мероприятий
													option(value="8") Профессиональные услуги
													option(value="9") Ремонт авто
													option(value="10") Электроприборы
													option(value="11") Фото, видео, аудио
													option(value="12") Спорт
													option(value="13") Строительство и ремонт
													option(value="14") Красота
										.uk-margin.uk-margin-bottom
										
											.uk-inline(class="uk-width-1-1")
												textarea.uk-textarea(name='message', placeholder='Описание задания', rows="5")
										.uk-margin.uk-margin-bottom
											.uk-inline(class="uk-width-1-1")
												input.uk-input.uk-input-default(type='date', name='subject', value='', placeholder="Date", style="width: 512px; margin-bottom: 5px;" )
										.uk-margin.uk-margin-bottom
											.uk-inline(class="uk-width-1-1")
												span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: lock") 
												input.uk-input(type="password", placeholder="Пароль*")
									label.uk-margin.uk-margin-top
										input.uk-checkbox(type='checkbox')
										|  Обсуждение задания доступно всем
									button.uk-button.uk-margin-top.uk-button-default.log-in.uk-box-shadow-hover-large(type="submit", style="background: #f82f22; color: #fff; border-radius: 3px") СОЗДАТЬ
									

					.star
						a(href="category.html")
							img(src="img/png/task.png", alt="")
							<br>
							span.common-text.uk-button-text Стать исполнителем
					.star
						a(href="aboutus.html")
							img(src="img/png/about.png", alt="")
							<br>
							span.common-text.uk-button-text О нас
		section.tasks.uk-margin-large-top
			.uk-container
				.heading.uk-text-center
					h2.com-header Текущие задания
				.slider.uk-margin-large-top(uk-slider)
					.uk-position-relative
						.uk-slider-container.uk-light.uk-visible-toggle
							ul.uk-slider-items.uk-grid.uk-grid-match(class=" uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-4@l", uk-grid)
								li
									.uk-panel
										.uk-card.uk-card-body
											.image.uk-card-media-top.uk-border-circle.uk-position-relative.uk-cover-container
												img(src="img/png/otziv1.png", alt="", uk-cover)
											.text.uk-text-center
												h3.common-text Образование
												p.common-text Требуется частный репетитор английского языка на дом
											.time.uk-text-center
												img(src="img/png/date.png", alt="")
												span 14.02.2018
										.watch.uk-card-footer
											a(href="profile_view.html") Посмотреть
								li
									.uk-panel
										.uk-card.uk-card-body
											.image.uk-card-media-top.uk-border-circle.uk-position-relative.uk-cover-container
												img(src="img/png/otziv2.png", alt="", uk-cover)
											.text.uk-text-center
												h3.common-text Образование
												p.common-text Требуется частный репетитор английского языка на дом
											.time.uk-text-center
												img(src="img/png/date.png", alt="")
												span 14.02.2018
										.watch.uk-card-footer
											a(href="profile_view.html") Посмотреть
								li
									.uk-panel
										.uk-card.uk-card-body
											.image.uk-card-media-top.uk-border-circle.uk-position-relative.uk-cover-container
												img(src="img/png/otziv3.png", alt="", uk-cover)
											.text.uk-text-center
												h3.common-text Образование
												p.common-text Требуется частный репетитор английского языка на дом
											.time.uk-text-center
												img(src="img/png/date.png", alt="")
												span 14.02.2018
										.watch.uk-card-footer
											a(href="profile_view.html") Посмотреть
								li
									.uk-panel
										.uk-card.uk-card-body
											.image.uk-card-media-top.uk-border-circle.uk-position-relative.uk-cover-container
												img(src="img/png/otziv4.png", alt="", uk-cover)
											.text.uk-text-center
												h3.common-text Образование
												p.common-text Требуется частный репетитор английского языка на дом
											.time.uk-text-center
												img(src="img/png/date.png", alt="")
												span 14.02.2018
										.watch.uk-card-footer
											a(href="profile_view.html") Посмотреть
								li
									.uk-panel
										.uk-card.uk-card-body
											.image.uk-card-media-top.uk-border-circle.uk-position-relative.uk-cover-container
												img(src="img/png/otziv1.png", alt="", uk-cover)
											.text.uk-text-center
												h3.common-text Образование
												p.common-text Требуется частный репетитор английского языка на дом
											.time.uk-text-center
												img(src="img/png/date.png", alt="")
												span 14.02.2018
										.watch.uk-card-footer
											a(href="profile_view.html") Посмотреть
								li
									.uk-panel
										.uk-card.uk-card-body
											.image.uk-card-media-top.uk-border-circle.uk-position-relative.uk-cover-container
												img(src="img/png/otziv2.png", alt="", uk-cover)
											.text.uk-text-center
												h3.common-text Образование
												p.common-text Требуется частный репетитор английского языка на дом
											.time.uk-text-center
												img(src="img/png/date.png", alt="")
												span 14.02.2018
										.watch.uk-card-footer
											a(href="profile_view.html") Посмотреть
						a.uk-position-center-left-out.uk-position-small(href="#", uk-slidenav-previous, uk-slider-item="previous")
						a.uk-position-center-right-out.uk-position-small(href="#", uk-slidenav-next, uk-slider-item="next")
		include assets/_footer.pug
		include assets/_scripts.pug
		
			