footer
    .uk-container
        div.top-line
            nav.uk-navbar-container.uk-navbar-transparent.uk-navbar.uk-navbar-menu(uk-navbar, style="position: relative;")
                .uk-navbar-left
                    ul.uk-navbar-nav
                        li.uk-active
                            a.main(href="") Главная
                        li
                            a(href="") Категории
                        li
                            a(href="") О нас
                        li
                            a(href="") Регистрация
                        li
                            a(href="") Вход        
                        li
                            a(href="contact.html") Контакты
                .uk-navbar-right.navbar-right-mod
                    ul.uk-navbar-nav
                        li
                            a(href="") Оставайся на связи
        hr.navbar__hr__m
        hr.navbar__hr__s
        div.middle-line
            nav.uk-navbar-container.uk-navbar-transparent.uk-navbar(uk-navbar, style="position: relative;")
                .uk-navbar-left
                    ul.footer__navbar
                        li
                            a.footer__navbar__a(href="")
                                span.icon(uk-icon = "icon: home") 
                                span Кыргызстан, город Бишкек, КТУМ
                        li               
                            a.footer__navbar__a(href="tel: +(996)557201255")
                                span.icon(uk-icon= "icon: receiver") 
                                span (+996)557-201-255
                            a.footer__navbar__a(href="mailto: begi.asanbekova@gmail.com")
                                span.icon(uk-icon = "icon: mail") 
                                span begi.asanbekova@gmail.com 
                .uk-navbar-right.navbar-right-pad   
                    a.uk-icon-button.uk-margin-small-right(href="", uk-icon="twitter")
                    a.uk-icon-button.uk-margin-small-right(href="", uk-icon="facebook")
                    a.uk-icon-button.uk-margin-small-right(href="", uk-icon="instagram")
                    a.uk-icon-button.uk-margin-small-right(href="", uk-icon="linkedin")
                    a.uk-icon-button(href="", uk-icon="google-plus")
        hr.footer__hr
        .bottom-line.footer__bottom
            p Trade.kg &copy; 2018 Все права защищены

        
                        